@media (min-width: 641px) {
    .section {
        color:crimson;
    }
    body {
        background-color:blanchedalmond !important;
    }
    #section1 {
        text-align:center;
        margin-top:80px;
    }
    .font {
        font-family:monospace;
    }
    .menu {
        list-style:none
    }
    a:hover {
        color:crimson;
    }
    #section1p {
        padding-right: 50px;
        border-right-style:dashed;
        border-right-width:3px;
        border-bottom-style:dashed;
        border-bottom-width:3px;
        padding-bottom:30px;
    }
    #section2p {
        padding-left: 45px;
        border-bottom-style:dashed;
        border-bottom-width:3px;
    }
    #menu {
        color:crimson;
        font-size: 30px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .table {
        text-align:center;
        border:1px solid purple;
    }
    table th {
        background-color:lightgrey !important;
        border:1px solid purple;
    }
    img {
        text-align:center;
    }
    table td {
        border:1px solid purple;
    }
    p {
        text-align:justify;
    }
    .media {
        text-align:center;
    }
    #media {
        text-align:center;
    }
    ul {
        list-style:none;
    }
    #section3p {
        padding-top:30px;
        padding-right:40px;
        border-right-style:dashed;
        border-right-width:3px;
        border-bottom-style:dashed;
        border-bottom-width:3px;
    }
    #section4p {
        padding-top:30px;
        padding-left:40px;
        border-bottom-style:dashed;
        border-bottom-width:3px;
    }
    #section4 {
        text-align:center
    }
    #section5p {
        padding-top:30px;
        padding-right:40px;
        padding-bottom:30px;
        border-right-style:dashed;
        border-right-width:3px;
        border-bottom-style:dashed;
        border-bottom-width:3px;
    }
    #section6p {
        padding-top:30px;
        padding-left:40px;
        border-bottom-style:dashed;
        border-bottom-width:3px;
        padding-bottom:30px;
    }
    #section7p {
        padding-top:30px;
        padding-right:40px;
        border-right-style:dashed;
        border-right-width:3px;
        padding-bottom:30px;
    }
    #section8p {
        padding-top:30px;
        padding-left:40px;
    }
    form {
        margin:15px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 400px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
    .dropdown:hover .dropdown-content {
        display: block;
      }
}

@media print {
    .screen_only {
        display:none;
    }
}